$font-hover:rgb(160, 160, 160);
$imput-radius: 3.11439px;
$principal-color: rgba(242, 89, 75, 1);
$box-shadow:rgba(78, 89, 105, 0.06);
$backgrund-color:#F7F8FA;
$label-form-color: #4E5969;
$input-backgrund-color:#F2F3F5;
$input-font-color:#86909C;
$principal-color-hover: rgb(214, 80, 67);
$principal-color-active: rgb(194, 72, 61);

@mixin ButtonGral($whid: 12.1rem, $height: 5.3rem){
    background: $principal-color;
    color: white;
    font-family: Nunito;
    font-style: normal;
    font-weight: 600;
    border-radius: 3.31px;
    border: none;
    width: $whid;
    height: $height;

}


.main-ayuda{
    width: 90%;
    margin: 3rem auto;
    max-width: 70rem;  
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(78, 89, 105, 0.06);
    width: 90%;
    max-width: 75rem;
    margin: 3rem auto;
    padding: 3rem;
}
.main-ayuda__titulo {
    font-family: Nunito;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 52px;
    margin-bottom: 2rem;
}
summary::marker {
    display: none;
    content:"";
}

.ul-ayuda{
    font-family: Nunito;
    font-style: normal;
    font-weight: 600;
    font-size: 22.75px;
    line-height: 36px;

    color: #3f4652;
}
details{
    margin: 2.4rem;
    padding-bottom: 1.3rem;
    cursor: pointer;
    transition: all 0.3s;
    p{
        font-weight: 600;
        font-size: 19px;
        line-height: 30px;
        color: #727b86;
        cursor: auto;
    }
    position: relative;
    border-bottom: 1.5px solid #a0a6af;
}



.main-ayuda__button{

    @include ButtonGral($whid:12.1rem, $height:5.3rem);
    font-size: 23.19px;
    line-height: 36px;
}
.button-container{
    height: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

