$font-hover:rgb(160, 160, 160);
$imput-radius: 3.11439px;
$principal-color: rgba(242, 89, 75, 1);
$box-shadow:rgba(78, 89, 105, 0.06);
$backgrund-color:#F7F8FA;
$label-form-color: #4E5969;
$input-backgrund-color:#F2F3F5;
$input-font-color:#86909C;
$principal-color-hover: rgb(214, 80, 67);
$principal-color-active: rgb(194, 72, 61);




.filtros-section2__div {
    width: 100vw;
    display: grid;
    grid-template: 
    "line-1 title-h1 line-2" 12.7rem /
    1fr 52rem 1fr
    ;  
    place-content: center;
}

.filtros-section2__div--line1{
    grid-area: line-1;
    place-self: center;
    width: 100%;
    height: 1px;
    background: black;
}

.filtros-section2__div--h1{
    grid-area: title-h1;
    place-self: center;

    font-family: Nunito;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 52px;
}
.filtros-section2__div--line2{
    grid-area: line-2;
    place-self: center;
    width: 100%;
    height: 1px;
    background: black;
}
.filtros-section__div{
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 8.8rem 6.6rem;
}








.filtros-section1{
    display: grid;
    grid-template: 
    " . title title" 12rem
    " . . ." 5.7rem
    " . mockup text" 50rem /
    5.4rem 30.4rem 1fr
    ;
}
.filtros-section1__h1{
    grid-area: title;
    align-self: end;


    font-family: Nunito;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 52px;
}
.filtros-section1__text--h2{
    margin-bottom: 6rem;
    margin-top: 4.2rem;
    font-family: Nunito;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 52px;
    }
.filtros-section1__text--p{
    font-family: Nunito;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 52px;

    width: 73rem;
    height: 25.8rem;

}

.filtros-section1__img1{
    grid-area: mockup;
    width: 25.4rem;
    height: 50rem;
}
.filtros-section1__text{
    grid-area: text;
    display: flex;
    flex-direction: column;
}

.filtros-section1__text--img2{
    width: 670px;
    height: 19px;
    object-fit: contain;


}

.filtros-section3{
    height: 13.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.filtros-section3 button{
    width: 12.1rem;
    height: 5.3rem;
    background: $principal-color;
    border-radius: 3.31px;
    border: none;
    color:white;

    font-family: Nunito;
    font-style: normal;
    font-weight: 600;
    font-size: 23.19px;
    line-height: 36px;
}
