$font-hover:rgb(160, 160, 160);
$imput-radius: 3.11439px;
$principal-color: rgba(242, 89, 75, 1);
$box-shadow:rgba(78, 89, 105, 0.06);
$backgrund-color:#F7F8FA;
$label-form-color: #4E5969;
$input-backgrund-color:#F2F3F5;
$input-font-color:#86909C;
$principal-color-hover: rgb(214, 80, 67);
$principal-color-active: rgb(194, 72, 61);