.main-ayuda {
  width: 90%;
  margin: 3rem auto;
  max-width: 70rem;
  background: #FFFFFF;
  box-shadow: 0px 4px 10px rgba(78, 89, 105, 0.06);
  width: 90%;
  max-width: 75rem;
  margin: 3rem auto;
  padding: 3rem;
}

.main-ayuda__titulo {
  font-family: Nunito;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 52px;
  margin-bottom: 2rem;
}

summary::marker {
  display: none;
  content: "";
}

.ul-ayuda {
  font-family: Nunito;
  font-style: normal;
  font-weight: 600;
  font-size: 22.75px;
  line-height: 36px;
  color: #3f4652;
}

details {
  margin: 2.4rem;
  padding-bottom: 1.3rem;
  cursor: pointer;
  transition: all 0.3s;
  position: relative;
  border-bottom: 1.5px solid #a0a6af;
}
details p {
  font-weight: 600;
  font-size: 19px;
  line-height: 30px;
  color: #727b86;
  cursor: auto;
}

.main-ayuda__button {
  width: 12.1rem;
  height: 5.3rem;
  background: #f2594b;
  border-radius: 3.31px;
  border: none;
  color: white;
  font-family: Nunito;
  font-style: normal;
  font-weight: 600;
  font-size: 23.19px;
  line-height: 36px;
}

.button-container {
  height: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form div {
  display: flex;
  margin-bottom: 2.5rem;
  align-items: center;
}

.form label, .form p {
  width: 12.6rem;
}

.div-form__h1 {
  font-family: Nunito;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 52px;
  margin-bottom: 3rem;
}

.form input, .form__mensaje textarea, .form__select select {
  outline: none;
  background: #F2F3F5;
  border: none;
  font-family: Nunito;
  font-style: normal;
  font-weight: 600;
  font-size: 21.8007px;
  line-height: 34px;
  color: #86909C;
  height: 100%;
  padding: 1.5rem;
}

.div-form {
  width: 90%;
  max-width: 75rem;
  margin: 3rem auto;
  padding: 3rem;
  background: white;
  box-shadow: 0px 4px 10px rgba(78, 89, 105, 0.06);
}

.form__mensaje label {
  align-self: flex-start;
}

.form label, .form p {
  font-family: Nunito;
  font-style: normal;
  font-weight: 600;
  font-size: 2.18007rem;
  line-height: 3.4rem;
  color: #4E5969;
}

.form__check label {
  flex-grow: 1;
  margin-left: 6rem;
  cursor: pointer;
}

[type=checkbox] {
  display: none;
}

[type=checkbox]:checked + label::before {
  content: " ? ";
}

.form__check label::before {
  content: "";
  border: solid 3px #f2594b;
  border-radius: 3px;
  width: 1.8rem;
  height: 1.8rem;
  position: absolute;
  left: 2.3rem;
  top: 0.5rem;
}

.form__check {
  gap: 0 1.5rem;
  position: relative;
}

/* Inputs individuales */
/* nombre, apellido, mail, select y text-area */
.form__name input, .form__apellido input, textarea, .form__email input, .form__select select {
  width: 70%;
  border-radius: 3.11439px;
}

.form__select select {
  appearance: none;
}

.form__select {
  position: relative;
}

.form__select span {
  position: absolute;
  left: 55rem;
}

.form button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 1rem;
  padding: 1rem 2.65rem;
  font-family: Nunito;
  font-style: normal;
  font-weight: 600;
  font-size: 2rem;
  line-height: 2.2rem;
  width: 119px;
  height: 53px;
  color: white;
  background: #f2594b;
  border: none;
  border-radius: 0.2rem;
  margin: auto;
}

.filtros-section2__div {
  width: 100vw;
  display: grid;
  grid-template: "line-1 title-h1 line-2" 12.7rem/1fr 52rem 1fr;
  place-content: center;
}

.filtros-section2__div--line1 {
  grid-area: line-1;
  place-self: center;
  width: 100%;
  height: 1px;
  background: black;
}

.filtros-section2__div--h1 {
  grid-area: title-h1;
  place-self: center;
  font-family: Nunito;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 52px;
}

.filtros-section2__div--line2 {
  grid-area: line-2;
  place-self: center;
  width: 100%;
  height: 1px;
  background: black;
}

.filtros-section__div {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 8.8rem 6.6rem;
}

.filtros-section1 {
  display: grid;
  grid-template: " . title title" 12rem " . . ." 5.7rem " . mockup text" 50rem/5.4rem 30.4rem 1fr;
}

.filtros-section1__h1 {
  grid-area: title;
  align-self: end;
  font-family: Nunito;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 52px;
}

.filtros-section1__text--h2 {
  margin-bottom: 6rem;
  margin-top: 4.2rem;
  font-family: Nunito;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 52px;
}

.filtros-section1__text--p {
  font-family: Nunito;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 52px;
  width: 73rem;
  height: 25.8rem;
}

.filtros-section1__img1 {
  grid-area: mockup;
  width: 25.4rem;
  height: 50rem;
}

.filtros-section1__text {
  grid-area: text;
  display: flex;
  flex-direction: column;
}

.filtros-section1__text--img2 {
  width: 670px;
  height: 19px;
  object-fit: contain;
}

.filtros-section3 {
  height: 13.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.filtros-section3 button {
  width: 12.1rem;
  height: 5.3rem;
  background: #f2594b;
  border-radius: 3.31px;
  border: none;
  color: white;
  font-family: Nunito;
  font-style: normal;
  font-weight: 600;
  font-size: 23.19px;
  line-height: 36px;
}

.article1-index {
  background-image: url(../Img/saladFoto.png);
  background-repeat: no-repeat;
  width: 100vw;
  height: 748px;
  background-position: center top;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.article1-index button {
  position: relative;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0 1rem;
  padding: 8px 16px;
  font-family: Nunito;
  font-style: normal;
  font-weight: 600;
  font-size: 32.8125px;
  line-height: 52px;
  width: 278.91px;
  height: 75px;
  color: white;
  background: #f2594b;
  border: none;
  border-radius: 4.6875px;
}

.article1-index__img {
  width: 72.115rem;
  height: 19.6rem;
  margin-top: 4.2rem;
  margin-bottom: 29.4rem;
}

.article1-index__img2 {
  width: 100vw;
  height: 57.5rem;
  position: absolute;
  bottom: 0;
  left: 0;
}

.article2-index {
  display: grid;
  margin-top: 3rem;
  align-content: center;
  grid-template-rows: 27rem 5.5rem 10rem 17.7rem 7.7rem 35.5rem 24.7rem;
  grid-template-columns: 6.7rem 3.95fr 1.18fr 2.8fr 1fr 1fr 6.13fr 2.14fr 6.7rem;
}

/* Posiciones de los items */
.article2-index__img1 {
  grid-column: 2/3;
  grid-row: 1/5;
}

.article2-index__text {
  grid-column: 4/8;
  grid-row: 1/2;
  justify-self: start;
}
.article2-index__text h2 {
  font-family: Nunito;
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 52px;
  margin-bottom: 3.7rem;
}
.article2-index__text p {
  font-family: Nunito;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 52px;
}

.article2-index__button {
  place-self: center;
  width: 139px;
  height: 53px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: #f2594b;
  color: white;
  border-radius: 3.31px;
  font-family: Nunito;
  font-style: normal;
  font-weight: 600;
  font-size: 23.19px;
  line-height: 36px;
}
.article2-index__button a {
  color: inherit;
}

.article2-index__cards {
  grid-column: 4/9;
  grid-row: 3/4;
  display: flex;
  flex-wrap: nowrap;
}
.article2-index__cards img {
  width: 28.4rem;
  height: 9.5rem;
}

.button1 {
  grid-row: 4/5;
  grid-column: 5/7;
}

.article2-index__text2 {
  grid-column: 2/6;
  grid-row: 6/7;
  justify-self: end;
  text-align: end;
}
.article2-index__text2 h2 {
  font-family: Nunito;
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 52px;
  margin-bottom: 2.6rem;
}
.article2-index__text2 p {
  font-family: Nunito;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 52px;
}

.article2-index__foto {
  grid-column: 7/9;
  grid-row: 6/7;
}

.button2 {
  grid-column: 5/7;
  grid-row: 7/8;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

body {
  margin: 0;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0;
}

hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

a {
  background-color: transparent;
}

img {
  border-style: none;
  max-width: 100%;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

button,
input {
  /* 1 */
  overflow: visible;
}

[hidden] {
  display: none;
}

ul li {
  list-style-type: none;
}

ol {
  list-style-type: none;
}

textarea {
  resize: none;
  overflow: auto;
}

template {
  display: none;
}

summary {
  display: list-item;
}

details {
  display: block;
}

.SectionDos {
  margin: auto;
  width: 90%;
  max-width: 126.5rem;
  background: white;
  box-shadow: 0px 4px 10px rgba(78, 89, 105, 0.06);
  padding: 2rem 6.2rem;
}

.article1 {
  grid-column: 1/4;
  display: flex;
  align-items: center;
  justify-content: center;
}

.article1__div {
  height: 1px;
  background-color: black;
  width: 50%;
}

.article1__h1 {
  font-family: Nunito;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 52px;
  width: 40rem;
  text-align: center;
  margin: 0 1rem;
}

.SectionDos__img1 {
  width: 485px;
  height: 375px;
  object-fit: cover;
  grid-column: 1/2;
  border-radius: 3px;
}

/* Tercer Item */
.article2 {
  color: black;
  grid-column: 2/4;
}

.article2 h1 {
  font-family: Nunito;
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 52px;
  margin-bottom: 2.7rem;
}

.article2 p {
  font-family: Nunito;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 52px;
  margin-bottom: 4rem;
}

.article2__div {
  display: flex;
  column-gap: 6.5rem;
}

.article2 img {
  width: 107px;
  height: 29px;
  border-radius: 3px;
}

/* Cuarto item */
.article3__h1 {
  font-family: Nunito;
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 52px;
  margin-bottom: 2.7rem;
}

.article3 {
  font-family: Nunito;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 52px;
  grid-column: 1/3;
  grid-row: 4/5;
}

/* Quinto item */
.SectionDos__img2 {
  width: 485px;
  height: 385px;
  left: 790px;
  top: 1394px;
  object-fit: cover;
  grid-column: 3/4;
  border-radius: 3px;
  grid-row: 4/5;
}

.SectionDos__botton {
  grid-row: 6/7;
  grid-column: 2/3;
  display: flex;
  align-items: flex-start;
}

.SectionDos__botton button {
  display: flex;
  align-items: center;
  gap: 0 1rem;
  padding: 3rem 5rem;
  font-family: Nunito;
  font-style: normal;
  font-weight: 600;
  font-size: 2.8rem;
  line-height: 2.2rem;
  height: 3.2rem;
  color: white;
  background: #f2594b;
  border: none;
  border-radius: 0.2rem;
}

/* Contenedor flex */
.SectionDos {
  display: grid;
  grid-template-rows: 17.2rem 37.5rem 19rem 37.5rem 10rem 10rem;
  grid-template-columns: 1fr 18.2rem 1fr;
  grid-column-gap: 5.2rem;
}

.sectionUno {
  background-image: url("../Img/Delivery Foto 2.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 35rem;
  position: relative;
  display: flex;
  justify-content: center;
}

.secitonUno__img2 {
  z-index: 100;
  width: 100%;
  height: 15rem;
  position: absolute;
  bottom: 0;
  right: 0;
  background-position: right bottom;
  background: url(../Img/Vector-ola-sobre-nosotros.svg);
  background-repeat: no-repeat;
}

.sectionUno__img3 {
  width: 72.115rem;
  height: 19.6rem;
  z-index: 200;
  align-self: flex-end;
  margin-bottom: 2rem;
  background-size: auto;
  object-fit: fill;
}

html {
  font-size: 62.5%;
}

.button:hover {
  background: #d65043;
  cursor: pointer;
  transition: all cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s;
  transform: translateY(-3px);
}

.button:active {
  background: principal-color-active;
  transform: translateY(3px);
}

* {
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: 400;
}

body {
  background: #F7F8FA;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.ul__li {
  font-family: Nunito;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 52px;
}
.ul__li a {
  color: black;
}
.ul__li a:hover {
  color: #a0a0a0;
}
.ul__li img {
  width: 5rem;
  height: 3.2rem;
}

.profile-bottom {
  display: flex;
  align-items: center;
  gap: 0 4.5rem;
}

.profile-bottom__perfil img {
  width: 3.2rem;
  height: 3.2rem;
}

.img {
  display: flex;
  align-items: center;
}
.img a {
  display: flex;
  align-items: center;
}

.header {
  background: #FFFFFF;
  box-shadow: 0px 4px 10px rgba(78, 89, 105, 0.06);
  padding: 0 1.7rem;
  height: 5.2rem;
}

.nav-ul__li--perfil {
  width: 3.2rem;
  height: 3.2rem;
}

.ul {
  display: flex;
  align-items: center;
  gap: 4.5rem;
}

.profile-bottom__button button {
  display: flex;
  align-items: center;
  gap: 0 1rem;
  padding: 8px 16px;
  font-family: Nunito;
  font-style: normal;
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 2.2rem;
  height: 3.2rem;
  color: white;
  background: #f2594b;
  border: none;
  border-radius: 0.2rem;
}

/* enlace */
a {
  text-decoration: none;
}

.footer {
  display: grid;
  height: 23.5rem;
  width: 100vw;
  background: #f7f8fa;
  grid-template: " . icon-insta icon-face icon-whap . " 5rem "line-one help line-two contact line-three" 8rem ". Copyright Copyright Copyright ." 4rem/1fr 11.4rem 5rem 11.4rem 1fr;
  align-items: center;
  align-content: center;
}
.footer img {
  width: 5rem;
  height: 5rem;
}

.footer .footer__Insta {
  grid-area: icon-insta;
}

.footer__Face {
  grid-area: icon-face;
}

.footer__What {
  grid-area: icon-whap;
  justify-self: end;
}

/* Linea Horizontal */
.footer__line1 {
  grid-area: line-one;
  height: 0.1rem;
  background: black;
  width: 100%;
}

.footer__words--contact {
  grid-area: contact;
  font-family: Nunito;
  font-style: normal;
  font-weight: 600;
  font-size: 2.4rem;
  line-height: 5.2rem;
  color: black;
  justify-self: end;
}
.footer__words--contact p {
  margin-right: 2rem;
}
.footer__words--contact p:hover {
  color: #a0a0a0;
}

.footer__words--help {
  grid-area: help;
  font-family: Nunito;
  font-style: normal;
  font-weight: 600;
  font-size: 2.4rem;
  line-height: 5.2rem;
  color: black;
}
.footer__words--help p:hover {
  color: #a0a0a0;
}
.footer__words--help p {
  margin-left: 2rem;
}

.footer__line2 {
  grid-area: line-two;
  height: 3.2rem;
  width: 1px;
  background: black;
  justify-self: center;
}

.footer__line3 {
  grid-area: line-three;
  height: 0.1rem;
  background: black;
  width: 100%;
}

.footer__Copyright {
  grid-area: Copyright;
  justify-self: center;
  font-family: Nunito;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 2.5rem;
}

/*# sourceMappingURL=styles.css.map */
